.env
docker-compose.yml
venv
alembic.ini
utils/__pycache__
app/__pycache__
app/models/__pycache__
app/routes/__pycache__
app/crud/__pycache__
app/schema/__pycache__
app/utils/__pycache__
.vscode
show_files.py 
all_files.txt
all2.txt
all3.txt
all4.txt
all5.txt
all6.txt
all7.txt
demo_resumes
test.html
