.env
docker-compose.yml
venv
alembic.ini
app/__pycache__
app/models/__pycache__
app/routes/__pycache__
app/crud/__pycache__
app/schema/__pycache__
app/utils/__pycache__
app/tasks/__pycache__
app/crud/__init__.py
app/models/__init__.py
app/routes/__init__.py
app/schema/__init__.py
app/utils/__init__.py
app/tasks/__init__.py
__pycache__
.vscode
show_files.py 
demo_resumes
test
show_combined.py
codebase_dump.txt